/**/

body {
	margin: 0;
	padding: 0;
	background-color: #a8a9db;
}

.main, .tools {
	margin: 0 auto;
	width: 591px;
}

.border {
	margin: 12px 10px;
	border: 33px solid #8c4f13;
	border-radius: 20px;
	box-shadow: 4px 4px 3px #3f6675;
	height: 525px;
	width: 525px;
	position: absolute;
}

.board {
	margin: 45px 0 0 43px;
	width: 525px;
	height: 525px;
	background-color: #085010;
	box-shadow: -3px -3px 10px #332912, 3px 3px 10px #b08f1e;
	position: absolute;
}

table {
	width: 525px;
	height: 525px;
	border-spacing: 0;
}

td {
	border-bottom: 1px solid #095711;
	border-right: 1px solid #095711;
}

.scale, .clear{
	position: sticky;
	font-family: "shadows into light two", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #4A2A03;
	text-shadow: 1px 0 #B77928, 0 1px #B77E33, -1px 0 #2A1111, 0 -1px #2A1111;
	background-color: transparent;
	border: none;
}

.darker {
	color: #361E00;;
}

.scale {
	margin: 572px 0 0 40px;
}

.clear {
	margin: 0 0 0 10px;
}

.drawwhite {
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-bottom: 5px solid #bbb;
	border-radius: 3px;
	box-shadow: 0 1px 3px black;
	margin: 558px 5px 0 0;
	float: right;
	width: 55px;
	height: 11px;
	position: sticky;
}

.drawred {
	background-color: #f64a4a;
	border: 1px solid #e73434;
	border-bottom: 5px solid #f22c2c;
	border-radius: 3px;
	box-shadow: 0 1px 3px black;
	margin: 558px 5px 0 0;
	float: right;
	width: 55px;
	height: 11px;
	position: sticky;
}

.erase {
	background-color: #b91111;
	border: 1px solid #b45252;
	border-bottom: 10px solid #8c1818;
	border-radius: 3px;
	box-shadow: 0 10px 3px black;
	float: right;
	width: 70px;
	height: 20px;
	position: sticky;
	margin: 541px 26px 0 0;
}

.drawredlabel, .drawwhitelabel, .eraselabel{
	font-family: "shadows into light two", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
	color: #fff;
	background-color: transparent;
	border: none;
}

.drawredlabel {
	margin: -31px 0 0 382px;
	position: absolute;
	float: right;
	display: none;
}

.drawwhitelabel {
	margin: -31px 0 0 436px;
	position: absolute;
	float: right;
	display: none;
}

.eraselabel {
	margin: -31px 0px 0 500px;
	position: absolute;
	float: right;
	display: none;
}

.appear {
	display: block;
}

.whitechalk {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}

.redchalk {
	background-color: #f64a4a;
	border-bottom: 1px solid #f22c2c;
	border-right: 1px solid #f22c2c;
}